<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book-API</title>
    <link rel="stylesheet" href="/public/styles/base.css">
    <link rel="stylesheet" href="/public/styles/layout.css">
    <link rel="stylesheet" href="/public/styles/modules.css">

  </head>
<body>
  <%- include( '../../layout/header' ) %>

    <main style="height: 100vh; justify-content: center;">
      <h2>Search by Title or Auther</h2>


            <form action="/searches" method="POST" id="searchForm">
                <input type="text" name="search" placeholder="enter a title or auther" required>
                <fieldset>
                    <label for="title"><span>Title</span> <input type="radio" name="search" value="title" required></input> </label>
                </fieldset>
                <fieldset>
                    <label for="authors"><span>Auther</span> <input type="radio" name="search" value="authors" required></input> </label>
                </fieldset>
                <button type="submit">Search the Google Books API</button>
            </form>

         

  </main>

  <%- include( '../../layout/footer' ) %>

  <script src="../../public/js/app.js"></script>
</body>
</html>