<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book-API</title>
    <link rel="stylesheet" href="/public/styles/base.css">
    <link rel="stylesheet" href="/public/styles/layout.css">
    <link rel="stylesheet" href="/public/styles/modules.css">

  </head>
  <body>
      <header>
          <h1>Best Books!</h1>
      </header>
      <main>
        <h2>Search Results</h2>

        <% searchResults.forEach( book => { %>
          <div class="container" >
                <img src="<%=book.image%>" alt="" style="width: 300px;border: 10px solid #fff;">
                <div class="dis">
                    <h3><%= book.title %></h3>
                    <h4><%=book.authors%></h4>
                    <h4><%=book.description%></h4>
                </div>
            </div>
            <% }) %>

    </main>
  </body>
</html>