<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book-API</title>
    <link rel="stylesheet" href="/public/styles/base.css">
    <link rel="stylesheet" href="/public/styles/layout.css">
    <link rel="stylesheet" href="/public/styles/modules.css">

  </head>
  <body>
    <%- include( '../layout/header' ) %>
      <main style="height: 100vh; justify-content: center; text-align: center; align-content: center;">
        <h1>Sorry.....an Error had occured </h1>
      </main>
  </body>
</html>