<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book-API</title>
    <link rel="stylesheet" href="/public/styles/base.css">
    <link rel="stylesheet" href="/public/styles/layout.css">
    <link rel="stylesheet" href="/public/styles/modules.css">

  </head>
<body>
    <header>
        <h2>Welcome to the Books library</h2>
    </header>
    <main style="height: 100vh;">
        <form action="/form">
            <button >Go to search page</button>
    </main>
    
</form>
</body>
</html>