    <header>
    <h1>Best Books!</h1>
    <img src="/public/styles/icon.png" alt="" onclick="menu()">
    </header>
    <div id="nav" style="display: none;">
        <form action="/">
            <button >Home</button>
          </form>
          <form action="/form">
            <button >Search The Google Books API</button>
          </form>
    </div>
